.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3rem;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.splitContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4%;
}

@media screen and (max-width: 768px) {
  .splitContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
}

.ingredientsContainer,
.instructionsContainer {
  gap: 0.5rem;
}

.topRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipeQuantityPickerContainer {
  max-width: 250px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleRowButtons {
  display: flex;
  gap: 1rem;
}

.coverImageContainer {
  position: relative;
  height: 350px;
}

.coverImage {
  object-fit: cover;
}

.splitTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media print {
  .likeButton,
  .titleRowButtons {
    display: none;
  }
}
