.deleteButtonComponent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 15%;
  align-items: center;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  color: var(--text);
}

.deleteButtonComponent:hover,
.deleteButtonComponent:focus {
  background-color: var(--danger);
  color: var(--text-white);
}
