.editButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 15%;
  align-items: center;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  color: var(--text);
}

.editButton:hover,
.editButton:focus {
  background-color: var(--primary);
  color: var(--text-black);
}
