.dropzone {
  display: flex;
  border: 1px dashed var(--text);
  min-height: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.previewImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.dragText {
  color: var(--discreet);
  z-index: 1;
}

.topRow {
  display: flex;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.errorText {
  font-size: 0.9rem;
  color: var(--danger);
  text-align: center;
}
