:root,
html[data-theme='light'] {
  --background-color: #fff;
  --background-color-secondary: #f1f1f1;
  --text-black: #000;
  --text-white: #fff;
  --text: var(--text-black);
  --text-inverted: var(--text-white);
  --primary: #f2c61d;
  --primary-shade-1: #dfb81c;
  --button-secondary-hover-background: #ffd4503b;
  --new-recipe-card-hover-background: #00000011;
  --danger: #ea2727;
  --discreet: #aaa;
}

@mixin dark-mode {
  --background-color: #1e2028;
  --background-color-secondary: #2e323d;
  --text: var(--text-white);
  --text-inverted: var(--text-black);
  --primary: #f2c61d;
  --primary-shade-1: #dfb81c;
  --button-secondary-hover-background: #7a662957;
  --new-recipe-card-hover-background: #FFFFFF11;
}

hanko-auth,
hanko-profile {
  --color: var(--text);
  --color-shade-2: var(--background-color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

html[data-theme='dark'] {
  @include dark-mode;
}

body {
  background-color: var(--background-color);
  color: var(--text);
}

* {
  box-sizing: border-box;
}
