.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.searchInput {
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}
