.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
