.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.3rem;
}
