.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collectionSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
