.dialog {
  background-color: var(--background-color);
  color: var(--text);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 1000; /* Prevent clicking on text edit fields underneath */
  text-align: center;
  line-height: 1.2;
  gap: 3rem;
}

.dialogCloseButton {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.dialogText {
  padding-inline: 1rem;
  font-size: 10rem;
}

.controlButtonsContainer {
  display: inline-flex;
  gap: 0.15rem;
}

@media print {
  .controlButtonsContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .dialogText {
    font-size: 5rem;
  }
}
