.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.linkList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
}
