.linkButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-button);
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.linkButton:not(.rectangular) {
  border-radius: 1rem;
}

.primary {
  background-color: var(--primary);
  color: var(--text-black);
}

.primary:hover {
  background-color: var(--primary-shade-1);
}

.secondary {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 2px var(--primary);
  color: var(--text);
}

.secondary:hover {
  background-color: var(--button-secondary-hover-background);
}
