.grid {
  --_recipe-selection-grid-min-item-width: 300px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--_recipe-selection-grid-min-item-width), 1fr)
  );
  gap: 1rem;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

@media screen and (max-width: 400px) {
  .grid {
    --_recipe-selection-grid-min-item-width: 200px;
  }
}
