.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  min-height: 16rem;
}

.recipeTopContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.recipeInfoContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.coverImageContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  justify-content: center;
  align-items: center;
  background-color: var(--recipe-card-image-background);
}

.coverImage {
  object-fit: cover;
  object-position: center;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.viewCount,
.likeCount {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.username {
  word-break: break-all;
}
