.container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 2rem;
}

.splitContainer {
  display: flex;
  gap: 10rem;
}

.leftPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rightPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recipeNameInput {
  font-size: 2rem;
}

.recipeSettingsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.timeEstimateContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
