.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.listItem {
  background-color: var(--background-color-secondary);
  padding: 0.3rem 0.6rem;
}
